$red:                   #BC1320;
$black:                 #000000;
$white:                 #FFFFFF;
$gray:                  #929190;
$darkgray:              #333;

$colors: ();
$colors: map-merge((
  "red":                 $red,
  "black":               $black,
  "white":               $white,
  "gray":                $gray,
  "darkgray":            $darkgray
), $colors);