// @font-face {
//     font-family: 'psl_kittithada';
//     font-weight: normal;
//     font-style: normal;
//     font-display: auto;
//     src: url('../../../fonts/psl094pro.woff2') format('woff2'),
//          url('../../../fonts/psl094pro.woff') format('woff');

// }

// @font-face {
//     font-family: 'psl_kittithada';
//     font-weight: normal;
//     font-style: italic;
//     font-display: auto;
//     src: url('../../../fonts/psl095pro.woff2') format('woff2'),
//          url('../../../fonts/psl095pro.woff') format('woff');

// }

// @font-face {
//     font-family: 'psl_kittithada';
//     font-weight: bold;
//     font-style: normal;
//     font-display: auto;
//     src: url('../../../fonts/psl096pro.woff2') format('woff2'),
//          url('../../../fonts/psl096pro.woff') format('woff');

// }

// @font-face {
//     font-family: 'psl_kittithada';
//     font-weight: bold;
//     font-style: italic;
//     font-display: auto;
//     src: url('../../../fonts/psl097pro.woff2') format('woff2'),
//          url('../../../fonts/psl097pro.woff') format('woff');

// }

@font-face {
  font-family: 'psl_kittithada';
  src: url("../../../fonts/PSL094pro_0.eot");
  src: url("../../../fonts/PSL094pro_0.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PSL094pro_0.woff") format("woff"), url("../../../fonts/PSL094pro_0.ttf") format("truetype"), url("../../../fonts/PSL094pro_0.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

// PSL Kitithada Bold
@font-face {
  font-family: 'psl_kittithada';
  src: url("../../../fonts/PSL096pro_0.eot");
  src: url("../../../fonts/PSL096pro_0.eot?#iefix") format("embedded-opentype"), url("../../../fonts/PSL096pro_0.woff") format("woff"), url("../../../fonts/PSL096pro_0.ttf") format("truetype"), url("../../../fonts/PSL096pro_0.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:  url('../../../fonts/icomoon.eot?qo3suk');
  src:  url('../../../fonts/icomoon.eot?qo3suk#iefix') format('embedded-opentype'),
    url('../../../fonts/icomoon.ttf?qo3suk') format('truetype'),
    url('../../../fonts/icomoon.woff?qo3suk') format('woff'),
    url('../../../fonts/icomoon.svg?qo3suk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-polygon-right:before {
  content: "\e90f";
}
.icon-eye:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e90d";
}
.icon-file-pdf:before {
  content: "\e90b";
}
.icon-zoom-in:before {
  content: "\e90c";
}
.icon-polygon:before {
  content: "\e90a";
}
.icon-arrow-left:before {
  content: "\e908";
}
.icon-arrow-right:before {
  content: "\e909";
}
.icon-mail:before {
  content: "\e905";
}
.icon-call:before {
  content: "\e906";
}
.icon-location:before {
  content: "\e907";
}
.icon-angle-down:before {
  content: "\e900";
}
.icon-angle-up:before {
  content: "\e901";
}
.icon-angle-left:before {
  content: "\e902";
}
.icon-angle-right:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
  

$languages: ('en', 'th');

$font-family: (
    en: (
        body: ('psl_kittithada', 'Arial', sans-serif)
    ),
    th: (
        body: ('psl_kittithada', 'Tahoma', sans-serif)
    )
);

$font-size: (
    en: (
        h1: 40,
        h2: 36,
        h3: 28,
        h4: 24,
        h5: 20,
        h6: 16,
        display-1: 96,
        display-2: 88,
        display-3: 72,
        display-4: 56,
        body: 16,
        lead: 18,
        small: 12,
        big: 48,
    ),
    th: (
        h1: 40,
        h2: 36,
        h3: 28,
        h4: 24,
        h5: 20,
        h6: 16,
        display-1: 96,
        display-2: 88,
        display-3: 72,
        display-4: 56,
        body: 16,
        lead: 18,
        small: 12,
        big: 48,
    )
);

$font-weight: (
    en: (
        heading: bold,
        body: normal
    ),
    th: (
        heading: bold,
        body: normal
    )
);