.card--shop{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .card__figure{
        display: block;

        img{
            width: 100%;
        }
    }

    .card__body{
        padding: 1rem;
        position: relative;
        transition: all 0.4s ease-in-out;
        border: 2px solid $gray;
        border-left: 0;

        .card__name{
            font-size: 1.625rem;
            line-height: 1.875rem;
            font-weight: bold;
            color: $red;
        }

        .card__type{
            padding-top: 10px;
            font-size: 1.625rem;
            line-height: 1.875rem;
            font-weight: bold;
            color: $darkgray;
            margin-bottom: 1rem;
        }

        .card__station{
            padding-top: 10px;
            font-size: 1.625rem;
            line-height: 1.875rem;
            font-weight: bold;
            color: $darkgray;
        }

        &:hover{
            border: 2px solid $red;
            border-left: none;
        }
    }

    @include media-breakpoint-down(lg) {
        grid-template-columns: repeat(1, 1fr);

        .card__body{
            border: 2px solid $gray;
            border-top: 0;
        }
    }

    @include media-breakpoint-down(sm){
        padding: 0 15px;
    }
}