@font-face {
    font-family: 'psl_kittithada';
    src: url('../fonts/psl094pro.woff2') format('woff2'),
         url('../fonts/psl094pro.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'psl_kittithada';
    src: url('../fonts/psl095pro.woff2') format('woff2'),
         url('../fonts/psl095pro.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'psl_kittithada';
    src: url('../fonts/psl096pro.woff2') format('woff2'),
         url('../fonts/psl096pro.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'psl_kittithada';
    src: url('../fonts/psl097pro.woff2') format('woff2'),
         url('../fonts/psl097pro.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

// Variables
// RED
$red: #BC1320;

body{
    scroll-behavior: smooth;
    font-family: 'psl_kittithada';
    font-weight: bold;
}

//Header
.header--wrapper{
    .navbar-brand{
        display: flex;
        align-items: center;

        .brand__name{
            h2{
                margin: 0;
                font-weight: bold;
                font-size: 3.125rem;
                line-height: 2.25rem;
            }

            p{
                margin: 0;
                font-size: 1.875rem;
                line-height: 2.25rem;
                color: $red;
            }
        }

        .brand__logo{
            margin: 5px;
        }
    }
}