@font-face {
  font-family: "psl_kittithada";
  src: url(/fonts/psl094pro.woff2?04f8742b1c776fa7dac44f5ecaa50009) format("woff2"), url(/fonts/psl094pro.woff?22b91333d26f699a42423f37261b6384) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "psl_kittithada";
  src: url(/fonts/psl095pro.woff2?174edf4dcc6cc720e5e60888af06878b) format("woff2"), url(/fonts/psl095pro.woff?8068dc4994c4be64272a8da1c6524755) format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "psl_kittithada";
  src: url(/fonts/psl096pro.woff2?2b9fc57bb1f7f712a0ffce8e5aa25076) format("woff2"), url(/fonts/psl096pro.woff?2613932f81304bfd57ff15342e06da4d) format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "psl_kittithada";
  src: url(/fonts/psl097pro.woff2?ebef2bfe8acf3cd13c3a26833c266ce2) format("woff2"), url(/fonts/psl097pro.woff?847d970e844a1c81d41009a65706ed65) format("woff");
  font-weight: bold;
  font-style: italic;
}
body {
  scroll-behavior: smooth;
  font-family: "psl_kittithada";
  font-weight: bold;
}

.header--wrapper .navbar-brand {
  display: flex;
  align-items: center;
}
.header--wrapper .navbar-brand .brand__name h2 {
  margin: 0;
  font-weight: bold;
  font-size: 3.125rem;
  line-height: 2.25rem;
}
.header--wrapper .navbar-brand .brand__name p {
  margin: 0;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #BC1320;
}
.header--wrapper .navbar-brand .brand__logo {
  margin: 5px;
}
