// Animation CSS
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes heroBannerImage {
    0% {
        opacity: .5
    }
    25% {
        opacity: 1
    }
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
}

@keyframes heroBannerFadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes heroBannerFadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50px);
        transform: translateX(50px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}