body{
    scroll-behavior: smooth;
    font-family: 'psl_kittithada';
    font-weight: bold;
}

// Preloader
.loading--page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    
    .counter {
        text-align: center;

        h2{
            font-size: 3.75rem;

            &.abs {
                position: absolute;
                top: 0;
                width: 100%;
            }
        }

        p{
            font-size: 2.5rem;
            color: $red;
        }
    }

    .counter{
        position: relative;
        min-width: 200px;
    }
}

// Accordion
.accordion--primary{
    .accordion__title{
        position: relative;
        display: block;
        padding: 15px 45px 15px 15px;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 1.625rem;
        line-height: 1.875rem;
        color: $darkgray;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        background-color: rgba($color: #929091, $alpha: 0.1);
  
        &:hover{
            background-color: rgba($color: #929091, $alpha: 0.5);
        }
    
        &[aria-expanded='true']{
            color: white !important;
            background-color: $red !important;
    
            .more-less {
            color: white !important;
            }
        }
    }
    
    .accordion__body{
        padding: 32px;
        margin-bottom: 5px;
        background-color: #E5E9ED;
    }
  
    .more-less {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        color: $darkgray;
        font-size: 0.5rem;
    }
  
    // @media (max-width: 767.98px){
    //     .accordion__title{
    //         padding: 15px 45px 15px 15px;
    //     }
    
    //     .accordion__body{
    //         padding: 15px;
    //     }
    
    //     .more-less {
    //         right: 15px;
    //     }
    // }
}

// Page Title
.title--page{
    display: flex;
    align-items: center;
    position: relative;

    margin-bottom: 20px;

    .page__title{
        margin: 0;
    }

    .page__readmore{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        font-weight: bold;
        font-size: 1.375rem;
        line-height: 1.875rem;
        text-decoration: none;

        transition: all 0.4s ease-in-out;

        .link__text{
            flex: 1 1 auto;
            color: $gray;
        }

        .link__icon{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 0 5px;
            font-size: 1.125rem;
            line-height: 0;
            color: $red;
            transition: all 0.3s ease-in-out
        }

        &:hover{
            .link__icon{
                transform: translateX(5px);
            }
        }
    }
}

// Template Text Left/Right
.page--content{
    display: block;
    position: relative;
    margin-bottom: 3rem;

    .content__figure{
        display: block;
        margin-bottom: 2rem;
    }

    .content__text{
        display: block;
        margin-bottom: 2rem;

        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .group__icon{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        margin-bottom: 2rem;

        a{
            display: flex;
            justify-content: space-around;
            align-items: center;

            padding: 5px;
            margin: 0 5px;

            font-size: 1.25rem;
            line-height: 1.5rem;
            text-decoration: none;

            .icon{
                font-size: 1.25rem;
                line-height: 1.5rem;
            }

            .text{
                margin: 0 5px;
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 1.5rem;
            }
        }
    }
}

.view--count{
    margin-bottom: 1rem;

    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.social--block{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 1rem;

    span{
        font-weight: bold;
        font-size: 1.375rem;
        line-height: 1.5rem;
    }

    a{
        display: flex;
        align-items: center;
        padding: 5px;
        margin: 0 5px;
        font-weight: bold;
        font-size: 1.375rem;
        line-height: 1.5rem;
        text-decoration: none;
        transition: all .3s ease-in-out;

        &:hover{
            transform: translateY(-3px)
        }
    }

    @include media-breakpoint-down(sm){
        justify-content: flex-start;
    }
}