html, body{
    scroll-behavior: smooth;
    background-color: white;

    @media screen and (max-width: 991.98px){
        font-size: 90%;
    }
    
    @media screen and (max-width: 767.98px){
        font-size: 80%;
    }
}

// Preloader
.loading--page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    
    .counter {
        text-align: center;

        h2{
            font-size: 3.75rem;

            &.abs {
                position: absolute;
                top: 0;
                width: 100%;
            }
        }

        p{
            font-size: 2.5rem;
            color: $red;
        }
    }

    .counter{
        position: relative;
        min-width: 200px;
    }
}

// Accordion
.accordion--primary{
    margin-bottom: 2rem;

    .accordion__title{
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 40px;
        padding: 0 45px 0 15px;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.875rem;
        color: $darkgray;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        background-color: rgba($color: $gray, $alpha: 0.1);
  
        &:hover{
            background-color: rgba($color: $gray, $alpha: 0.5);
        }
    
        &[aria-expanded='true']{
            color: white !important;
            background-color: $red !important;
    
            .more-less {
            color: white !important;
            }
        }
    }
    
    .accordion__body{
        padding: 32px;
        margin-bottom: 5px;
        background-color: #E5E9ED;
    }
  
    .more-less {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        color: $darkgray;
        font-size: 0.5rem;
    }
  
    // @media (max-width: 767.98px){
    //     .accordion__title{
    //         padding: 15px 45px 15px 15px;
    //     }
    
    //     .accordion__body{
    //         padding: 15px;
    //     }
    
    //     .more-less {
    //         right: 15px;
    //     }
    // }
}

.accordion--secondary{
    margin-bottom: 2rem;

    .accordion--item{
        border: 1px solid $gray;
        padding: 10px 20px 0 20px;
        margin-bottom: 20px;

        .content--accordion{
            padding: 1.5rem 0 3rem 0;
            border-top: 1px solid $gray;
        }

        .content--accordion{
            padding: 1.5rem 0 3rem 0;
            border-top: 1px solid $gray;

            .head--content{
                margin-bottom: 1.5rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .item{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .icon{
                        margin-right: 10px;
                        .f-icon{
                            font-size: 18px;
                            color: $darkgray;
                        }
                    }
                    .title{
                        font-size: 1.5rem;
                        line-height: 1.625rem;
                        color: $red;
                    }
                    .detail{
                        font-size: 1.5rem;
                        line-height: 1.625rem;
                        color: $gray;
                        padding-left: 5px;
                    }
                    &:after{
                        content: "|";
                        padding: 0 10px;
                        font-size: 36px;
                        line-height: 36px;
                        color: $gray;
                    }

                    &:last-of-type{
                        &:after{
                            display: none;
                        }
                    }
                }
            }

            .body--content{
                .text--link{
                    a{
                        font-size: 1.5rem;
                        line-height: 1.625rem;
                        font-weight: normal;
                        color: $darkgray;
                        text-decoration: none;
                        &:hover{
                            color: $red;
                        }
                    }
                    .item{
                        padding: 0;
                        margin: 0;
                        position: relative;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        li{
                            list-style: none;
                            margin-bottom: 15px;
                            &::before{
                                content: '';
                                display: inline-block;
                                background-image: url('../../../assets/images/icon/icon-polygon-right.svg');
                                width: 8px;
                                height: 11px;
                                margin-right: 5px;
                                position: relative;
                                top: 0;
                            }
                            .sub-item{
                                height: 0;
                                overflow: hidden;
                                li{
                                    position: relative;
                                    margin-bottom: 0;
                                    display: flex;
                                    &::before{
                                        background-image: none;
                                        content: '';
                                        font-family: bootstrap-icons !important;
                                        font-style: normal;
                                        font-weight: normal !important;
                                        font-variant: normal;
                                        content: '\F2EA';
                                        font-size: 18px;
                                        color: $darkgray;
                                        width: auto;
                                        height: auto;
                                        margin-right: 5px;
                                        top: 0;
                                    }
                                }
                                &.show{
                                    height: max-content;
                                }
                            }
                        }
                    }
                    @media only screen and (max-width: 1199px) {
                        .item{
                            grid-template-columns: 1fr 1fr 1fr;
                        }
                    }
                    @media only screen and (max-width: 991px) {
                        .item{
                            grid-template-columns: 1fr 1fr;
                        }
                    }
                    @media only screen and (max-width: 575px) {
                        .item{
                            grid-template-columns: 1fr;
                        }
                    }
                }
            }

            .download-file{

                .title{
                    font-size: 1.5rem;
                    line-height: 1.625rem;
                    font-weight: bold;
                    color: $red;
                    margin-bottom: 0;
                }

                .list-file{
                    display: flex;
                    .item{
                        a{
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            text-decoration: none;
                            .icon{
                                margin-right: 10px;
                                .f-icon{
                                    font-size: 18px;
                                    color: $darkgray;
                                }
                            }
                            .title{
                                font-size: 1.5rem;
                                line-height: 1.625rem;
                                font-weight: normal;
                                color: $red;
                            }
                            &:after{
                                content: "|";
                                padding: 0 10px;
                                font-size: 36px;
                                line-height: 36px;
                                color: $gray;
                            }
                        }
                        &:last-of-type{
                            a{
                                &:after{
                                    visibility: hidden;
                                }
                            }
                        }
                    }
                }
                
            }

            .btn-group{
                display: block;
                text-align: center;
                margin: 20px 0 0;
            }
        }

        @media only screen and (max-width: 991px) {
            .content--accordion{
                .head--content{
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: baseline;
                    .item{
                        margin-bottom: 10px;
                        &:after{
                            display: none;
                        }
                    }
                }
                .download-file{
                    .title{
                        margin-bottom: 10px;
                    }
                    .list-file{
                        flex-wrap: wrap;
                        flex-direction: column;
                        .item{
                            margin-bottom: 5px;
                            a{
                                align-items: flex-start;
                                &:after{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .accordion__title{
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 40px;
        padding: 0 45px 0 0;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.875rem;
        color: $darkgray;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        background-color: #fff;
  
        &:hover{
            background-color: #fff;
        }

        &[aria-expanded='true']{
            color: $red !important;
            background-color: $white !important;
            .more-less {
                color: $red !important;
            }
        }
    }
    
    .accordion__body{
        padding: 32px;
        margin-bottom: 5px;
        background-color: #E5E9ED;
    }
  
    .more-less {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        color: $darkgray;
        font-size: 0.5rem;
    }
}

.accordion--white{
    margin-bottom: 2rem;
    
    .accordion__title{
        position: relative;
        display: block;
        padding: 15px 45px 15px 15px;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 1.625rem;
        line-height: 1.875rem;
        color: $darkgray;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        background-color: rgba($color: $gray, $alpha: 0.1);
  
        &:hover{
            background-color: rgba($color: $gray, $alpha: 0.5);
        }
    
        &[aria-expanded='true']{
            color: $red !important;
            background-color: white !important;
    
            .more-less {
            color: $red !important;
            }
        }
    }
    
    .accordion-collapse{
        padding: 1rem;
        margin-bottom: 5px;
        background-color: white;
    }
  
    .more-less {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        color: $darkgray;
        font-size: 0.5rem;
    }
  
    // @media (max-width: 767.98px){
    //     .accordion__title{
    //         padding: 15px 45px 15px 15px;
    //     }
    
    //     .accordion__body{
    //         padding: 15px;
    //     }
    
    //     .more-less {
    //         right: 15px;
    //     }
    // }
}

// Page Title
.title--page{
    display: flex;
    align-items: center;
    position: relative;

    margin-bottom: 30px;

    .page__title{
        margin: 0;
    }

    .page__readmore{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.875rem;
        text-decoration: none;

        transition: all 0.4s ease-in-out;

        .link__text{
            flex: 1 1 auto;
            color: $gray;
        }

        .link__icon{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 0 5px;
            font-size: 1rem;
            line-height: 0;
            color: $red;
            transition: all 0.3s ease-in-out
        }

        &:hover{
            .link__icon{
                transform: translateX(5px);
            }
        }
    }
}

// Template Text Left/Right
.page--content{
    display: block;
    position: relative;
    margin-bottom: 3rem;

    .content__figure{
        display: block;
        margin-bottom: 2rem;
    }

    .content__text{
        display: block;
        margin-bottom: 2rem;

        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .group__icon{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        margin-bottom: 2rem;

        a{
            display: flex;
            justify-content: space-around;
            align-items: center;

            padding: 5px;
            margin: 0 5px;

            font-size: 1.25rem;
            line-height: 1.5rem;
            text-decoration: none;

            .icon{
                font-size: 1.25rem;
                line-height: 1.5rem;
            }

            .text{
                margin: 0 5px;
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 1.5rem;
            }
        }
    }
}

.view--count{
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.view--date{
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.social--block{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 1rem;

    span{
        font-weight: bold;
        font-size: 1.375rem;
        line-height: 1.5rem;
    }

    a{
        display: flex;
        align-items: center;
        padding: 0 5px;
        margin: 0 5px;
        font-weight: bold;
        font-size: 1.375rem;
        line-height: 1.5rem;
        text-decoration: none;
        transition: all .3s ease-in-out;

        &:hover{
            transform: translateY(-3px)
        }
    }

    @include media-breakpoint-down(sm){
        justify-content: flex-start;
    }
}


.verify--wrapper{
    text-align: center;
    margin-bottom: 2rem;
    .title--verify{
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: bold;
        color: $darkgray;
    }
    .captcha--verify{
        margin: 2rem 0;
  }
}

.list--primary{
    list-style: none;
    padding: 0;
    margin: 0 0 2rem 0;

    li{
        position: relative;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding-left: 1.5rem;
        margin-bottom: 10px;

        &:before{
            position: absolute;
            top: 0;
            left: 0;
            font-family: 'icomoon' !important;
            content: "\e90a";
            font-size: 0.5rem;
            color: $red;
            display: inline-block;
            transform: rotate(90deg);
        }

        a{
            text-decoration: none;
            color: $darkgray;
            transition: all 0.4s ease-in-out;

            &:hover{
                color: $red;
            }
        }
    }
}

:root {
    --ck-color-image-caption-background: hsl(0, 0%, 97%);
    --ck-color-image-caption-text: hsl(0, 0%, 20%);
    --ck-color-mention-background: hsla(341, 100%, 30%, 0.1);
    --ck-color-mention-text: hsl(341, 100%, 30%);
    --ck-color-table-caption-background: hsl(0, 0%, 97%);
    --ck-color-table-caption-text: hsl(0, 0%, 20%);
    --ck-highlight-marker-blue: hsl(201, 97%, 72%);
    --ck-highlight-marker-green: hsl(120, 93%, 68%);
    --ck-highlight-marker-pink: hsl(345, 96%, 73%);
    --ck-highlight-marker-yellow: hsl(60, 97%, 73%);
    --ck-highlight-pen-green: hsl(112, 100%, 27%);
    --ck-highlight-pen-red: hsl(0, 85%, 49%);
    --ck-image-style-spacing: 1.5em;
    --ck-inline-image-style-spacing: calc(var(--ck-image-style-spacing) / 2);
    --ck-todo-list-checkmark-size: 16px;
}
//Text Editor Style
.text--editor{
    clear: both;
    overflow: hidden;

    /*
    * CKEditor 5 (v34.0.0) content styles.
    * Generated on Mon, 09 May 2022 10:49:49 GMT.
    * For more information, check out https://ckeditor.com/docs/ckeditor5/latest/installation/advanced/content-styles.html
    */
    
    .ck-content{
        font-size: 1.5rem;
        line-height: 1.625rem;

        ul{
            padding: 0;
            margin: 0;
            list-style-position: inside;
            position: relative;
            li{
                list-style-type: none;
                list-style-image: url('../../../assets/images/icon/icon-polygon-right.svg');
            }
        }

        ol{
            padding: 0;
            margin: 0;
            list-style-position: inside;
            position: relative;
        }
    }

    /* ckeditor5-block-quote/theme/blockquote.css */
    .ck-content blockquote {
        overflow: hidden;
        padding-right: 1.5em;
        padding-left: 1.5em;
        margin-left: 0;
        margin-right: 0;
        font-style: italic;
        border-left: solid 5px hsl(0, 0%, 80%);
    }
    /* ckeditor5-block-quote/theme/blockquote.css */
    .ck-content[dir="rtl"] blockquote {
        border-left: 0;
        border-right: solid 5px hsl(0, 0%, 80%);
    }
    /* ckeditor5-basic-styles/theme/code.css */
    .ck-content code {
        background-color: hsla(0, 0%, 78%, 0.3);
        padding: .15em;
        border-radius: 2px;
    }
    /* ckeditor5-font/theme/fontsize.css */
    .ck-content .text-tiny {
        font-size: .7em;
    }
    /* ckeditor5-font/theme/fontsize.css */
    .ck-content .text-small {
        font-size: .85em;
    }
    /* ckeditor5-font/theme/fontsize.css */
    .ck-content .text-big {
        font-size: 1.4em;
    }
    /* ckeditor5-font/theme/fontsize.css */
    .ck-content .text-huge {
        font-size: 1.8em;
    }
    /* ckeditor5-highlight/theme/highlight.css */
    .ck-content .marker-yellow {
        background-color: var(--ck-highlight-marker-yellow);
    }
    /* ckeditor5-highlight/theme/highlight.css */
    .ck-content .marker-green {
        background-color: var(--ck-highlight-marker-green);
    }
    /* ckeditor5-highlight/theme/highlight.css */
    .ck-content .marker-pink {
        background-color: var(--ck-highlight-marker-pink);
    }
    /* ckeditor5-highlight/theme/highlight.css */
    .ck-content .marker-blue {
        background-color: var(--ck-highlight-marker-blue);
    }
    /* ckeditor5-highlight/theme/highlight.css */
    .ck-content .pen-red {
        color: var(--ck-highlight-pen-red);
        background-color: transparent;
    }
    /* ckeditor5-highlight/theme/highlight.css */
    .ck-content .pen-green {
        color: var(--ck-highlight-pen-green);
        background-color: transparent;
    }
    /* ckeditor5-image/theme/imagecaption.css */
    .ck-content .image > figcaption {
        display: table-caption;
        caption-side: bottom;
        word-break: break-word;
        color: var(--ck-color-image-caption-text);
        background-color: var(--ck-color-image-caption-background);
        padding: .6em;
        font-size: .75em;
        outline-offset: -1px;
    }
    /* ckeditor5-image/theme/image.css */
    .ck-content .image {
        display: table;
        clear: both;
        text-align: center;
       //margin: 0.9em auto;
        margin: 0 auto;
        min-width: 50px;
    }
    /* ckeditor5-image/theme/image.css */
    .ck-content .image img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        min-width: 100%;
    }
    /* ckeditor5-image/theme/image.css */
    .ck-content .image-inline {
        /*
        * Normally, the .image-inline would have "display: inline-block" and "img { width: 100% }" (to follow the wrapper while resizing).;
        * Unfortunately, together with "srcset", it gets automatically stretched up to the width of the editing root.
        * This strange behavior does not happen with inline-flex.
        */
        display: inline-flex;
        max-width: 100%;
        align-items: flex-start;
    }
    /* ckeditor5-image/theme/image.css */
    .ck-content .image-inline picture {
        display: flex;
    }
    /* ckeditor5-image/theme/image.css */
    .ck-content .image-inline picture,
    .ck-content .image-inline img {
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 100%;
    }
    /* ckeditor5-image/theme/imageresize.css */
    .ck-content .image.image_resized {
        max-width: 100%;
        display: block;
        box-sizing: border-box;
    }
    /* ckeditor5-image/theme/imageresize.css */
    .ck-content .image.image_resized img {
        width: 100%;
    }
    /* ckeditor5-image/theme/imageresize.css */
    .ck-content .image.image_resized > figcaption {
        display: block;
    }
    /* ckeditor5-image/theme/imagestyle.css */
    .ck-content .image-style-block-align-left,
    .ck-content .image-style-block-align-right {
        max-width: calc(100% - var(--ck-image-style-spacing));
    }
    /* ckeditor5-image/theme/imagestyle.css */
    .ck-content .image-style-align-left,
    .ck-content .image-style-align-right {
        clear: none;
    }
    /* ckeditor5-image/theme/imagestyle.css */
    .ck-content .image-style-side {
        float: right;
        margin-left: var(--ck-image-style-spacing);
        max-width: 50%;
    }
    /* ckeditor5-image/theme/imagestyle.css */
    .ck-content .image-style-align-left {
        float: left;
        margin-right: var(--ck-image-style-spacing);
    }
    /* ckeditor5-image/theme/imagestyle.css */
    .ck-content .image-style-align-center {
        margin-left: auto;
        margin-right: auto;
    }
    /* ckeditor5-image/theme/imagestyle.css */
    .ck-content .image-style-align-right {
        float: right;
        margin-left: var(--ck-image-style-spacing);
    }
    /* ckeditor5-image/theme/imagestyle.css */
    .ck-content .image-style-block-align-right {
        margin-right: 0;
        margin-left: auto;
    }
    /* ckeditor5-image/theme/imagestyle.css */
    .ck-content .image-style-block-align-left {
        margin-left: 0;
        margin-right: auto;
    }
    /* ckeditor5-image/theme/imagestyle.css */
    .ck-content p + .image-style-align-left,
    .ck-content p + .image-style-align-right,
    .ck-content p + .image-style-side {
        margin-top: 0;
    }
    /* ckeditor5-image/theme/imagestyle.css */
    .ck-content .image-inline.image-style-align-left,
    .ck-content .image-inline.image-style-align-right {
        margin-top: var(--ck-inline-image-style-spacing);
        margin-bottom: var(--ck-inline-image-style-spacing);
    }
    /* ckeditor5-image/theme/imagestyle.css */
    .ck-content .image-inline.image-style-align-left {
        margin-right: var(--ck-inline-image-style-spacing);
    }
    /* ckeditor5-image/theme/imagestyle.css */
    .ck-content .image-inline.image-style-align-right {
        margin-left: var(--ck-inline-image-style-spacing);
    }
    /* ckeditor5-language/theme/language.css */
    .ck-content span[lang] {
        font-style: italic;
    }
    /* ckeditor5-list/theme/todolist.css */
    .ck-content .todo-list {
        list-style: none;
    }
    /* ckeditor5-list/theme/todolist.css */
    .ck-content .todo-list li {
        margin-bottom: 5px;
    }
    /* ckeditor5-list/theme/todolist.css */
    .ck-content .todo-list li .todo-list {
        margin-top: 5px;
    }
    /* ckeditor5-list/theme/todolist.css */
    .ck-content .todo-list .todo-list__label > input {
        -webkit-appearance: none;
        display: inline-block;
        position: relative;
        width: var(--ck-todo-list-checkmark-size);
        height: var(--ck-todo-list-checkmark-size);
        vertical-align: middle;
        border: 0;
        left: -25px;
        margin-right: -15px;
        right: 0;
        margin-left: 0;
    }
    /* ckeditor5-list/theme/todolist.css */
    .ck-content .todo-list .todo-list__label > input::before {
        display: block;
        position: absolute;
        box-sizing: border-box;
        content: '';
        width: 100%;
        height: 100%;
        border: 1px solid hsl(0, 0%, 20%);
        border-radius: 2px;
        transition: 250ms ease-in-out box-shadow, 250ms ease-in-out background, 250ms ease-in-out border;
    }
    /* ckeditor5-list/theme/todolist.css */
    .ck-content .todo-list .todo-list__label > input::after {
        display: block;
        position: absolute;
        box-sizing: content-box;
        pointer-events: none;
        content: '';
        left: calc( var(--ck-todo-list-checkmark-size) / 3 );
        top: calc( var(--ck-todo-list-checkmark-size) / 5.3 );
        width: calc( var(--ck-todo-list-checkmark-size) / 5.3 );
        height: calc( var(--ck-todo-list-checkmark-size) / 2.6 );
        border-style: solid;
        border-color: transparent;
        border-width: 0 calc( var(--ck-todo-list-checkmark-size) / 8 ) calc( var(--ck-todo-list-checkmark-size) / 8 ) 0;
        transform: rotate(45deg);
    }
    /* ckeditor5-list/theme/todolist.css */
    .ck-content .todo-list .todo-list__label > input[checked]::before {
        background: hsl(126, 64%, 41%);
        border-color: hsl(126, 64%, 41%);
    }
    /* ckeditor5-list/theme/todolist.css */
    .ck-content .todo-list .todo-list__label > input[checked]::after {
        border-color: hsl(0, 0%, 100%);
    }
    /* ckeditor5-list/theme/todolist.css */
    .ck-content .todo-list .todo-list__label .todo-list__label__description {
        vertical-align: middle;
    }
    /* ckeditor5-page-break/theme/pagebreak.css */
    .ck-content .page-break {
        position: relative;
        clear: both;
        padding: 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* ckeditor5-page-break/theme/pagebreak.css */
    .ck-content .page-break::after {
        content: '';
        position: absolute;
        border-bottom: 2px dashed hsl(0, 0%, 77%);
        width: 100%;
    }
    /* ckeditor5-page-break/theme/pagebreak.css */
    .ck-content .page-break__label {
        position: relative;
        z-index: 1;
        padding: .3em .6em;
        display: block;
        text-transform: uppercase;
        border: 1px solid hsl(0, 0%, 77%);
        border-radius: 2px;
        font-family: Helvetica, Arial, Tahoma, Verdana, Sans-Serif;
        font-size: 0.75em;
        font-weight: bold;
        color: hsl(0, 0%, 20%);
        background: hsl(0, 0%, 100%);
        box-shadow: 2px 2px 1px hsla(0, 0%, 0%, 0.15);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* ckeditor5-media-embed/theme/mediaembed.css */
    .ck-content .media {
        clear: both;
        margin: 0.9em 0;
        display: block;
        min-width: 15em;
    }
    /* ckeditor5-table/theme/tablecaption.css */
    .ck-content .table > figcaption {
        display: table-caption;
        caption-side: top;
        word-break: break-word;
        text-align: center;
        color: var(--ck-color-table-caption-text);
        background-color: var(--ck-color-table-caption-background);
        padding: .6em;
        font-size: .75em;
        outline-offset: -1px;
    }
    /* ckeditor5-table/theme/table.css */
    .ck-content .table {
        margin: 0.9em auto;
        display: table;
    }
    /* ckeditor5-table/theme/table.css */
    .ck-content .table table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        height: 100%;
        border: 1px double hsl(0, 0%, 70%);
    }
    /* ckeditor5-table/theme/table.css */
    .ck-content .table table td,
    .ck-content .table table th {
        min-width: 2em;
        padding: .4em;
        border: 1px solid hsl(0, 0%, 75%);
    }
    /* ckeditor5-table/theme/table.css */
    .ck-content .table table th {
        font-weight: bold;
        background: hsla(0, 0%, 0%, 5%);
    }
    /* ckeditor5-table/theme/table.css */
    .ck-content[dir="rtl"] .table th {
        text-align: right;
    }
    /* ckeditor5-table/theme/table.css */
    .ck-content[dir="ltr"] .table th {
        text-align: left;
    }
    /* ckeditor5-code-block/theme/codeblock.css */
    .ck-content pre {
        padding: 1em;
        color: hsl(0, 0%, 20.8%);
        background: hsla(0, 0%, 78%, 0.3);
        border: 1px solid hsl(0, 0%, 77%);
        border-radius: 2px;
        text-align: left;
        direction: ltr;
        tab-size: 4;
        white-space: pre-wrap;
        font-style: normal;
        min-width: 200px;
    }
    /* ckeditor5-code-block/theme/codeblock.css */
    .ck-content pre code {
        background: unset;
        padding: 0;
        border-radius: 0;
    }
    /* ckeditor5-horizontal-line/theme/horizontalline.css */
    .ck-content hr {
        margin: 15px 0;
        height: 4px;
        background: hsl(0, 0%, 87%);
        border: 0;
    }
    /* ckeditor5-mention/theme/mention.css */
    .ck-content .mention {
        background: var(--ck-color-mention-background);
        color: var(--ck-color-mention-text);
    }
    @media print {
        /* ckeditor5-page-break/theme/pagebreak.css */
        .ck-content .page-break {
            padding: 0;
        }
        /* ckeditor5-page-break/theme/pagebreak.css */
        .ck-content .page-break::after {
            display: none;
        }
    }
}

#img_container{
    position: absolute !important;
    width: 50px;
    height: 50px;
    z-index: 99;
}

.responsive--tabs {
    position: relative;

    .nav-tabs {
        display: none;
    }

    .card-header{
        padding: 1rem;
        margin: 0 0 1rem 0;
        font-weight: bold;
        font-size: 1.625rem;
        line-height: 1.875rem;
        color: white;
        border: none;
        border-radius: 0;
        transition: all 0.4s ease-in-out;

        &:hover{
            background-color: $darkgray;
        }

        &[aria-expanded="true"]{
            position: relative;

            &:after{
                top: 100%;
                left: 50px;
                border: solid transparent;
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-width: 10px;
                margin-left: -10px;
            }
        }
    }

    @include media-breakpoint-up(lg){
        .nav-tabs {
            display: flex;
        }

        .card {
            border: none;

            .card-header {
                display: none;
            }

            .collapse {
                display: block;
            }
        }

        .fade:not(.show){
            opacity: 1;
        }
    }

    @include media-breakpoint-down(md) {
        .tab-pane {
            display: block !important;
            opacity: 1;
        }
    }
}

// Announce Page
.annouce--wrapper{
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;

    .text--wrapper{
        width: 100%;
        height: auto;
        padding: 0.5rem 0;
        margin: auto;
        background-color: $darkgray;
        overflow: hidden;
    }

    .text--target {
        font-weight: normal;
        font-size: 1.375rem;
        line-height: 1.375rem;
        white-space: nowrap;
        color: white;
        animation-name: rightToLeft;
        animation-duration: 30s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

// Welcome Page
.welcome--container{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    min-height: 100vh;
    
    .welcome--page{
        display: block;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;

        &__logo{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            width: 100%;
            height: 70px;

            a{
                display: inline-block;
            }

            img{
                width: 240px;
            }
        }

        &__image{
            display: block;

            img{
                max-width: 100%;
            }
        }

        &__actions{
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 1rem 0;

            .btn{
                margin: 0.5rem;
            }
        }
    }

    @include media-breakpoint-down(lg){
        align-items: flex-start;

        .welcome--page{
            &__logo{
                text-align: center;
            }
        }
    }
}
