.footer--wrapper{
    position: relative;
    margin-bottom: 2rem;

    .footer--nav{
        display: block;
        padding: 15px;

        .footer__link{
            font-weight: bold;
            font-size: 1.625rem;
            line-height: 1.875rem;
            text-decoration: none;
        }

        .footer__group{
            list-style: none;
            padding: 0;
            margin: 0;

            .footer__item{
                margin: 1rem 0 0 0;
            }

            .footer__link{
                position: relative;
                display: inline-block;
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 1.875rem;
                color: $gray;
                transition: all 0.4s ease-in-out;

                &:after{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    width: 0px;
                    content: '';
                    display: block;
                    transition: 0.5s;
                }

                &:hover{
                    // &:after{
                    //     width: 50px;
                    // }
                    transform: translateX(20px);
                }
            }
        }
    }

    .accordion--primary{
        padding-bottom: 2rem;
        border-bottom: 2px solid $red;
    }

    &__contact{
        margin-bottom: 2rem;

        .title{
            font-weight: bold;
            font-size: 1.625rem;
            line-height: 1.875rem;
        }

        .contact--block{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            margin-bottom: 15px;

            .content__icon{
                margin-top: 5px;
                font-size: 1.5rem;
                line-height: 1.875rem;
                color: $red;
            }

            span.content__text{
                padding: 0 10px 0 10px;
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 1.875rem;
                color: $gray;
            }

            a.content__text{
                padding: 0 10px 0 10px;
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 1.875rem;
                text-decoration: none;
                transition: all 0.4s ease-in-out;
            }
        }

        .social--block{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            margin: 0;

            span{
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 1.5rem;
            }

            a{
                display: flex;
                align-items: center;
                padding: 5px;
                margin: 0 5px;
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 1.875rem;
                text-decoration: none;
                transition: all .3s ease-in-out;
    
                &:hover{
                    transform: translateY(-3px)
                }
            }
        }
    }

    &__copyright{
        .content{
            display: flex;
            justify-content: center;
            align-items: center;

            height: 50px;

            font-weight: bold;
            font-size: 1.25rem;
            line-height: 1.625rem;
            color: white;
            background-color: $red;
        }
    }
}

.backtotop {
    text-align: center;

    .totop {
        position: fixed;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        text-align: center;
        z-index: 2147483646;
        right: 2rem;
        bottom: 2rem;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        width: 40px;
        height: 40px;
        color: white;
        background-color: $darkgray;
        display: flex;
        justify-content: center;
        align-items: center;

        i{
            transform: rotate(90deg);
        }

        &.show {
            visibility: visible;
            cursor: pointer;
            opacity: 1.0;
        }

        // @include media-breakpoint-up(md) {
        //     position: static;
        //     margin-top: 10px;
        //     margin-bottom: 0;
        //     display: inline-block !important;
        // }
    }
}

.consent--banner {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2147483645;
    width: 100%;
    height: auto;
    background-color: #f5f6f7;
    transition: all 0.4s ease-in-out;

    &.agree{
        display: none;
    }

    &.decline{
        display: none;
    }

    &__inner{
        padding: 1rem 0;
    }

    &__copy{
        margin-bottom: 1rem;
    }

    &__header{
        margin-bottom: 0.5rem;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.625rem;
    }

    &__description{
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.625rem;

        a{
            color: $darkgray;
            text-decoration-thickness: 1px;
            transition: all 0.4s ease-in-out;

            &:hover{
                color: $red;
            }
        }
    }

    &__actions{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .btn{
            margin-right: 1rem;

            &:last-child{
                margin-right: 0;
            }
        }
    }

    &__close{
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        transition: all 0.4s ease-in-out;

        .btn--close{
            position: relative;
            width: 80px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($color: $darkgray, $alpha: 0.5);
            transition: all 0.4s ease-in-out;
            cursor: pointer;

            span{
                position: relative;
                display: flex;
                justify-content: space-around;
                align-items: center;

                font-size: 1.625rem;
                line-height: 1.875rem;
                color: white;
                padding: 0 0.25rem;

                i{
                    font-size: 1rem;
                    margin: 0 0 0 0.5rem; 
                }
            }

            &:before{
                content: '';
                width: 0;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $black;
                transition: width 0.4s ease-in-out;
            }

            &:hover{
                &:before{
                    width: 100%;
                }
            }
        }
    }
}