//Header
.header--wrapper{
    display: block;
    .navbar__left{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .navbar-brand{
        display: flex;
        align-items: center;

        .brand__name{
            h2{
                margin: 0;
                font-weight: bold;
                font-size: 3.125rem;
                line-height: 2.25rem;
            }

            p{
                margin: 0;
                font-size: 1.875rem;
                line-height: 2.25rem;
                color: $red;
            }
        }

        .brand__logo{
            margin: 5px;
        }
    }
}