@media print {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
    width: 100%;
    }
    .col-sm-11 {
    width: 91.66666667%;
    }
    .col-sm-10 {
    width: 83.33333333%;
    }
    .col-sm-9 {
    width: 75%;
    }
    .col-sm-8 {
    width: 66.66666667%;
    }
    .col-sm-7 {
    width: 58.33333333%;
    }
    .col-sm-6 {
    width: 50%;
    }
    .col-sm-5 {
    width: 41.66666667%;
    }
    .col-sm-4 {
    width: 33.33333333%;
    }
    .col-sm-3 {
    width: 25%;
    }
    .col-sm-2 {
    width: 16.66666667%;
    }
    .col-sm-1 {
    width: 8.33333333%;
    }
    .visible-xs {
    display: none !important;
    }
    .hidden-xs {
    display: block !important;
    }
    table.hidden-xs {
    display: table;
    }
    tr.hidden-xs {
    display: table-row !important;
    }
    th.hidden-xs,
    td.hidden-xs {
    display: table-cell !important;
    }
    .hidden-xs.hidden-print {
    display: none !important;
    }
    .hidden-sm {
    display: none !important;
    }
    .visible-sm {
    display: block !important;
    }
    table.visible-sm {
    display: table;
    }
    tr.visible-sm {
    display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
    display: table-cell !important;
    }

    html{
        font-size: 75% !important;
    }
    
    .header--wrapper, .annouce--wrapper, .hero--wrapper, .breadcrumb--wrapper, .home--service{
        display: none;
    }

    .form-group-wrapper, .social--wrapper, .verify--wrapper, .pagination-wrapper{
        display: none;
    }
    .consent--banner, .consent, .consent--modal{
        display: none;
    }
    footer{
        display: none;
    }

    //title
    .title--page{
        margin-bottom: 15px;
    }

    // Text Editor
    .text--editor .ck-content .image-style-align-left{
        width: 50%;
        margin-right: 20px;
    }
    .text--editor .ck-content .image-style-align-right{
        width: 50%;
        margin-left: 20px;
    }
    .text--editor .ck-content .media{
        display: none;
    }


    //organization-chart
    .page--content{
        .title--page{
            margin-bottom: 15px;
        }
        .body--content{
            .group__icon{
                display: none;
            }
            .content__figure{
                img{
                    width: 85% !important;
                    display: block;
                    margin: auto;
                }
            }
        }
        .related--content{
            display: none;
        }
    }

    .vote--wrapper{
        .block-vote{
            .block-vote-total{
                .title__ans{
                    text-align: center;
                }
                &::before{
                    display: none;
                }
            }
        }
    }

    //form
    .d-print-block{
        // suggresstion
        .col-lg-3 {
            width: 50%;
        }
        //survey-detail
        .form--dynamic{
            width: calc(50% - 15px);
            margin-right: 15px;
        }
    }
    .form-group-wrapper .form-group--section{
        margin-bottom: 10px !important;
    }
    .form-group-wrapper .form-check{
        margin-bottom: 10px;
    }
    
}
