.modal {
    $parent: &;

    &--search {
        #{$parent} {

            &-content {
                border-radius: .5rem;
            }

            &-body {
                padding: 1rem;
            }
        }
    }
}
