.breadcrumb--wrapper{
    .breadcrumb{
        .breadcrumb-item{
            color: $red;
            font-size: 1.375rem;
            line-height: 1.625rem;
            font-weight: bold;
            a{
                color: $darkgray;
                text-decoration: none;
            }
        }
    }
}