.btn:focus, .btn.focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn{
    font-size: 1.375rem;
    line-height: 1.625rem;
    font-weight: bold;

    padding-left: 20px;
    padding-right: 20px;
    height: 45px;
    border: none;
}