.form-filter{
    margin-bottom: 3rem;
}

.search__controls{
    position: relative;
    margin-bottom: 1rem;
    &.icon{
        &__date{
            .form-control{
                padding-right: 45px;
            }
            &:after{
                font-family: bootstrap-icons !important;
                font-style: normal;
                font-weight: normal !important;
                font-variant: normal;
                content: '\F214';
                font-size: 18px;
                line-height: 18px;
                color: $gray;
                position: absolute;
                right: 13px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    
}

.form-control{
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: bold;
    color: $red;
    border-radius: 0;

    &:focus{
        outline: none;
        box-shadow: none;
        color: $red;
    }

    &:read-only{
        background-color: #fff;
    }

    &:disabled{
        background-color: #dddddd;
    }
    
}
.form-select{
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: bold;
    height: 40px;
    border-radius: 0;
    color: $red;
    option{
        font-size: 1.375rem;
        line-height: 1.625rem;
        font-weight: bold;
        color: $darkgray;
    }
    
    &:focus{
        outline: none;
        box-shadow: none;
    }
    
    
    
}
.form-check{
    .form-check-input[type=radio]{
        border-radius: 0;
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
    .form-check-input[type=radio]{
        background-image: url('/assets/images/icon/icon-radio.svg');
        width: 20px;
        height: 20px;
        //margin-right: 8px;
    }
    .form-check-input[type=radio]:checked{
        background-image: url('/assets/images/icon/icon-radio-active.svg');
        width: 20px;
        height: 20px;
    }
    .form-check-input[type=checkbox]{
        border-radius: 0;
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
    .form-check-input[type=checkbox]{
        background-image: url('/assets/images/icon/icon-checkbox.svg');
        width: 20px;
        height: 20px;
        //margin-right: 8px;
    }
    .form-check-input[type=checkbox]:checked{
        background-image: url('/assets/images/icon/icon-checkbox-active.svg');
        width: 20px;
        height: 20px;
    }
    .form-check-label{
        font-size: 1.5rem;
        //line-height: 1.7rem;
        line-height: normal;
        font-weight: bold;
        color: $darkgray;
        margin-left: 5px;
    }

    &--other{
        display: flex;
        .form-input-other{
            position: relative;
            top: -7px;
            margin-left: 10px;
            width: 50%;
        }
    }
}
.form-group-wrapper{
    .form-group--section{
        margin-bottom: 1.5rem;
        .consent{
            &--contact{
                width: 100%;
                max-width: 400px;
                margin: auto;
            }
            label{
                a{
                    color: $red;
                    text-decoration: none;
                }
                &:hover{
                    a{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .form-group{
        &.icon{
            &__date{
                .form-control{
                    padding-right: 45px;
                }
                &:after{
                    font-family: bootstrap-icons !important;
                    font-style: normal;
                    font-weight: normal !important;
                    font-variant: normal;
                    content: '\F214';
                    font-size: 18px;
                    line-height: 18px;
                    color: $gray;
                    position: absolute;
                    right: 13px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            &__upload{
                .form-control{
                    padding-right: 45px;
                }
                &:after{
                    font-family: bootstrap-icons !important;
                    font-style: normal;
                    font-weight: normal !important;
                    font-variant: normal;
                    content: '\F358';
                    font-size: 18px;
                    line-height: 18px;
                    color: $gray;
                    position: absolute;
                    z-index: 9;
                    right: 13px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        &__remark{
            margin-bottom: 5px;
        }
    }

    //style form
    .form--float { 
        position:relative; 
        margin-bottom: 1.5rem; 

        label{
            color:$gray; 
            font-size: 1.5rem;
            line-height: 1.5rem;
            font-weight: bold;
            position:absolute;
            pointer-events:none;
            left: 10px;
            top: 8px;
            padding:0 5px;
            background:white;
            transition:0.2s ease all; 
            -moz-transition:0.2s ease all; 
            -webkit-transition:0.2s ease all;
            .req{
                color: $gray;
            }
        }
        .form-control{
            font-size: 1.5rem;
            display:block;
            width:100%;
            height:40px;
            padding: 0 1rem;
            background: white;
            color: $red;
            border: 1px solid $gray;
            border-radius: 0;
            box-sizing: border-box;

            &:focus{
                outline:none;
                //border-color: $blue;
                box-shadow: none;
            }
            &:disabled{
                background-color: #dddddd;
            }
        }
        .form-control:focus + label {
            top:-12px;
            font-size: 1.25rem;
            line-height: 1.25rem;
            color: $darkgray;
            .req{
                color: $red;
            }
        }
        .form-control:disabled + label{
            background-color: #ddd;
        }
        .form-select{
            font-size: 1.5rem;
            line-height: 1.875rem;
            font-weight: bold;
            height: 40px;
            border-radius: 0;
            border: 1px solid $gray;
            &:focus{
                outline:none;
                //border-color: $blue;
                box-shadow: none;
            }
        }
        .did-floating-label{
            display: block;
            width: 80%;
            color:$gray; 
            font-size: 1.5rem;
            line-height: 1.5rem;
            font-weight: bold;
            position: absolute;
            pointer-events: none;
            left: 10px;
            top: 8px;
            padding: 0 5px;
            background: white;
            -o-transition: 0.2s ease all;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
            .req{
                color: $gray;
            }
        }
        
        textarea.form-control{
            height: 131px;
            padding-top: 15px;
            resize: none;
        }
        

        &.has-data{
            .form-control + label {
                top:-9px;
                font-size: 1.25rem;
                line-height: 1.25rem;
                color: $darkgray;
                .req{
                    color: $red;
                }
                
            }
            .form-select + label {
                top:-9px;
                font-size: 1.25rem;
                line-height: 1.25rem;
                color: $darkgray;
                width: auto;
                .req{
                    color: $red;
                }
            }
        }
    }

    .input-group{
        margin-bottom: 20px;
        flex-direction: column;
        .input-group-prepend{
            height: 40px;
            
            .input-group-text{
                font-size: 1.5rem;
                line-height: 1.875rem;
                font-weight: bold;
                color: $darkgray;
                padding: 4px 15px;
                //border-right: none;
                border-radius: 0;
                //background-color: rgba($color: $gray, $alpha: 0.1);
                span{
                    color: $red;
                }
            }

            &.icon{
                &__date{
                    .form-control{
                        padding-right: 45px;
                    }
                    &:after{
                        font-family: bootstrap-icons !important;
                        font-style: normal;
                        font-weight: normal !important;
                        font-variant: normal;
                        content: '\F214';
                        font-size: 18px;
                        line-height: 18px;
                        color: $gray;
                        position: absolute;
                        z-index: 9;
                        right: 13px;
                        top: 70%;
                        transform: translateY(-30%);
                    }
                }
                &__upload{
                    .form-control{
                        padding-right: 45px;
                    }
                    &:after{
                        font-family: bootstrap-icons !important;
                        font-style: normal;
                        font-weight: normal !important;
                        font-variant: normal;
                        content: '\F358';
                        font-size: 18px;
                        line-height: 18px;
                        color: $gray;
                        position: absolute;
                        z-index: 9;
                        right: 13px;
                        top: 70%;
                        transform: translateY(-30%);
                    }
                }
            }
        }
        .form-control{
            //border-left: none;
            //border-top: none;
            width: 100%;
            margin-left: 0 !important;
        }
        .form-select{
            width: 100%;
            //border-top: none;
            margin-left: 0 !important;
        }
        textarea{
            resize: none;
            height: 220px;
        }

        &--remark{
            margin-bottom: 5px;
        }
        
    }
    
    .form-check{
        margin-bottom: 20px;
    }

    .form--dynamic{
        display: inline-block;
        width: calc(25% - 15px);
        margin-right: 15px;
        vertical-align: top;

        &:nth-of-type(4n){
            margin-right: 0;
            //top: 1px;
        }

        @include media-breakpoint-down(md) {
            width: calc(50% - 10px);
            &:nth-of-type(2n){
                margin-right: 0;
                //top: 0;
            }
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 1.5rem;
        }
    }

    //input type file
    .select-file{
        position:relative;
        height: 40px;
        .title-selectfile{
            color:$gray; 
            font-size: 1.5rem;
            line-height: 1.5rem;
            font-weight: bold;
            position:absolute;
            z-index: 9;
            pointer-events:none;
            left: 10px;
            top: 8px;
            padding:0 5px;
            background:white;
            transition:0.2s ease all; 
            -moz-transition:0.2s ease all; 
            -webkit-transition:0.2s ease all;
        }

        &.has-data{
            .title-selectfile{
                top:-12px;
                font-size: 1.25rem;
                line-height: 1.25rem;
                color: $darkgray;
                .req{
                    color: $red;
                }
            }
        }

        &.icon{
            &__upload{
                .form-control{
                    padding-right: 45px;
                }
                &:after{
                    font-family: bootstrap-icons !important;
                    font-style: normal;
                    font-weight: normal !important;
                    font-variant: normal;
                    content: '\F358';
                    font-size: 18px;
                    line-height: 18px;
                    color: $gray;
                    position: absolute;
                    //z-index: 9;
                    right: 13px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    //style job application
    .form--text{
        color: $darkgray; 
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.625rem;

        label{
            color:$gray; 
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.625rem;
        }
    }

    // Alert
    .alert{
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 0;
    }

    @media only screen and (max-width: 767px) {
        // .form-group--section{
        //     margin-bottom: 1.5rem;
        // }
        .form--float{
            label{
                top: 10px;
            }
            .form-control:focus + label {
                top:-9px;
            }

            .did-floating-label{
                top: 10px;
            }
            &.has-data{
                .form-select + label {
                    top: -9px;
                }
            }
        }
        .select-file{
            .title-selectfile{
                top: 14px;
            }
            &.has-data{
                .title-selectfile{
                    top:-9px;
                }
            }
        }
        .input-group{
            .input-group-prepend{
                height: auto;
            }
        }
        
    }
}


.text-remark{
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: bold;
    color: $gray;
    margin-top: 10px;
}

.sub-title{
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: bold;
    color: $gray;
}



.form-file + label span{
    padding-right: 35px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    /*max-width: 80%;*/
    width: 100%;
    /*font-size: 1.25rem;*/
    //font-size: $text-content;
    /* 20px */
    /*font-weight: 700;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    /*padding: 0.625rem 1.25rem;*/
    /* 10px 20px */
    padding: 0 10px;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile + label img {
    position: absolute;
    top: 10px;
    right: 10px;
}

.inputfile-1 + label {
    /*border: 1px solid #ddd;
    background-color: #fff;
    padding: 0;*/
    position: relative;
    height: 40px;
    margin-bottom: 0;
    line-height: 40px;
    color: $white;
    border: 1px solid $gray;
    background-color: $white;
}
.inputfile-1 + label span {
    width: 100%;
    min-height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: $red;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;

}



