.form-filter{
    margin-bottom: 3rem;
}

.search__controls{
    position: relative;
    &.icon{
        &__date{
            .form-control{
                padding-right: 45px;
            }
            &:after{
                font-family: bootstrap-icons !important;
                font-style: normal;
                font-weight: normal !important;
                font-variant: normal;
                content: '\F214';
                font-size: 18px;
                line-height: 18px;
                color: #929091;
                position: absolute;
                right: 13px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .form-control{
        font-size: 1.625rem;
        line-height: 1.875rem;
        font-weight: bold;
        color: $red;
        height: 40px;
        &:focus{
            outline: none;
            box-shadow: none;
        }
        
    }
    .form-select{
        font-size: 1.625rem;
        line-height: 1.875rem;
        font-weight: bold;
        color: $red;
        height: 40px;

        option{
            font-size: 1.375rem;
            line-height: 1.625rem;
            font-weight: bold;
        }
        
        &:focus{
            outline: none;
            box-shadow: none;
        }
        
    }
}


.form-check{
    .form-check-input[type=radio]{
        border-radius: 0;
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
    .form-check-input{
        background-image: url('../../../../public/assets/images/icon/icon-radio.svg');
        width: 20px;
        height: 20px;
    }
    .form-check-input:checked{
        background-image: url('../../../../public/assets/images/icon/icon-radio-active.svg');
        width: 20px;
        height: 20px;
    }
    .form-check-label{
        font-size: 1.375rem;
        font-weight: bold;
        color: $darkgray;
        margin-left: 5px;
    }
}