.pagination-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    .pagination{
        .page-item{
            margin: 0 5px;
            .page-link{
                border: none;
                font-size: 1.625rem;
                line-height: 1.875rem;
                font-weight: bold;
                color: $darkgray;
                padding: 2px 12px;

                .f-icon{
                    font-size: 16px;
                    color: $darkgray;
                }
                &:focus{
                    box-shadow: none;
                }
            }
            &.active{
                .page-link{
                    color: $white;
                    background-color: $red;
                }
            }
            &.disabled{
                opacity: 0.5;
                cursor: not-allowed;
            }
            &:hover{
                .page-link{
                    color: $white;
                    background-color: $red;
                }
            }

            // &.prev{
            //     &:hover{
            //         .page-link{
            //             background-color: inherit;
            //             .f-icon{
            //                 color: $red;
            //             }
            //         }
            //     }
            // }
            // &.next{
            //     &:hover{
            //         .page-link{
            //             background-color: inherit;
            //             .f-icon{
            //                 color: $red;
            //             }
            //         }
            //     }
            // }
            &.disabled{
                &:hover{
                    .page-link{
                        .f-icon{
                            color: $darkgray;
                        }
                    }
                }
                &:first-of-type{
                    &:hover{
                        .page-link{
                            &::before{
                                color: $darkgray;
                            }
                        }
                    }
                }
                &:last-of-type{
                    &:hover{
                        .page-link{
                            &::before{
                                color: $darkgray;
                            }
                        }
                    }
                }
            }

            &:first-of-type{
                .page-link{
                    visibility: hidden;
                    &::before{
                        visibility: visible;
                        content: "\e908";
                        color: $darkgray;
                        font-family: "icomoon";
                        font-size: 16px;
                        speak: none;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 34px;
                        -webkit-font-smoothing: antialiased;
                    }
                }
                &:hover{
                    .page-link{
                        &::before{
                            color: $red;
                        }
                    }
                }
            }
            &:last-of-type{
                .page-link{
                    visibility: hidden;
                    &::before{
                        visibility: visible;
                        content: "\e909";
                        color: $darkgray;
                        font-family: "icomoon";
                        font-size: 16px;
                        speak: none;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 34px;
                        -webkit-font-smoothing: antialiased;
                    }
                }
                &:hover{
                    .page-link{
                        &::before{
                            color: $red;
                        }
                    }
                }
            }
        }
    }
}