// overwrite bootstrap tabs
.nav-tabs--primary{
    justify-content: center;

    margin-bottom: 3rem;

    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .nav-link{
        padding: 1rem 2rem;
        margin: 0 10px;
        font-weight: bold;
        font-size: 1.75rem;
        line-height: 1.75rem;
        border: none;
        border-radius: 0;
        transition: all 0.4s ease-in-out;

        &:hover{
            border: none;
            isolation: unset;
        }

        &.active{
            position: relative;
            border: none;

            &:after{
                top: 100%;
                left: 50px;
                border: solid transparent;
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(136, 183, 213, 0);
                border-top-color: $red;
                border-width: 10px;
                margin-left: -10px;
            }
        }
    }
}

.nav-tabs--secondary{
    display: flex;
    justify-content: center;

    border-bottom: none;
    margin-bottom: 3rem;

    .nav-link{
        border: none;
        padding: 0 20px;
        transition: all 0.4s ease-in-out;
    }
}
