$color-primary:         #BC1320;
$gray:                  #4d4d4d;
$darkgray:              #333;

$colors: ();
$colors: map-merge((
  "red":                 $color-primary,
  "gray":                $gray,
  "darkgray":            $darkgray
), $colors);


.text--primary{
    color: $color-primary !important;
}

a.text--primary{
    color: $color-primary !important;
    text-decoration: none;
    transition: all 0.4s ease-in-out;

    &:hover{
        color: black !important;
    }
}

a.text--link{
    color: $darkgray !important;
    text-decoration: none;
    transition: all 0.4s ease-in-out;

    &:hover{
        color: $color-primary !important;
    }
}

.bg--primary{
    color: white;
    background-color: $color-primary;
    transition: all 0.4s ease-in-out;

    a{
        color: white;

        &:hover, &:focus{
            color: white;
        }
    }
}

.btn--primary{
    color: white;
    background-color: $color-primary;

    &:before{
        background-color: black;   
    }

    &:hover{
        color: white;

        &:before{
            width: 100%;
        }
    }
}

.btn--gray{
    color: white;
    background-color: rgba($color: $gray, $alpha: 0.5);

    &:before{
        background-color: black;   
    }

    &:hover{
        color: white;

        &:before{
            width: 100%;
        }
    }
}

.btn--outline{
    color: $darkgray;
    border: 1px solid $darkgray;
    background-color: transparent;

    span{
        color: $darkgray;
    }

    &:before{
        background-color: black;   
    }

    &:hover{
        color: white;

        span{
            color: white;
        }

        &:before{
            width: 100%;
        }
    }
}

.nav-tabs--primary{
    .nav-link{
        color: white;
        background-color: rgba($color: $darkgray, $alpha: 0.3);

        &:hover{
            color: white;
            background-color: rgba($color: $darkgray, $alpha: 0.8);
        }

        &.active{
            color: white;
            background-color: $color-primary;

            &:after{
                border-color: rgba(136, 183, 213, 0);
                border-top-color: $color-primary;
            }
        }
    }
}

.nav-tabs--secondary{
    .nav-link{
        color: #C1C1C1;
        border-bottom: 2px solid #C1C1C1;

        &:hover{
            color: $darkgray;
            border-color: $darkgray;
        }

        &.active{
            color: $color-primary;
            border-color: $color-primary;
            background-color: transparent;
        }
    }
}

.nav-tabs--third{
    .nav-link{
        color: white;
        background-color: rgba($color: $darkgray, $alpha: 0.3);

        &:hover{
            color: white;
            background-color: rgba($color: $darkgray, $alpha: 0.8);
        }

        &.active{
            color: white;
            background-color: $color-primary;

            &:after{
                border-color: rgba(136, 183, 213, 0);
                border-top-color: $color-primary;
            }
        }
    }
}

.responsive--tabs{
    .card-header{
        color: white;
        background-color: rgba($color: $darkgray, $alpha: 0.3);

        &:hover{
            color: white;
            background-color: rgba($color: $darkgray, $alpha: 0.8);
        }

        &[aria-expanded="true"]{
            color: white;
            background-color: $color-primary;

            &:after{
                border-color: rgba(136, 183, 213, 0);
                border-top-color: $color-primary;
            }
        }
    }
}

.page--content{
    .group__icon{

        a{
            .icon{
                color: $color-primary;
            }

            .text{
                color: $darkgray;
            }
        }
    }
}

.view--count{
    span{
        color: $color-primary;
    }
}

.header--desktop{
    .navbar--bottom{
        .dropdown--navbar{
            a.dropdown-link {
                color: $darkgray;

                &:hover{
                    color: $color-primary;
                    transform: translateX(20px);
                }
            }
        }
    }
}

.home--route{
    .station--wrapper{
        border-color: $color-primary;
        background-color: white;
    
        &:after{
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: $color-primary;
        }
    
        .fare--wrapper{
            color: white;
            background-color: $color-primary;
        }
    }
}

// Footer 
.footer--wrapper {
    .footer--nav {
        .footer__link{
            color: $gray;

            &:hover{
                color: $color-primary;
            }
        }
    }

    &__contact{
        .contact--block {
            a.content__text{
                color: $gray;

                &:hover{
                    color: $color-primary;
                }
            }
        }
    }
}


// Preloader
// .loading--page {
//     background: #0d0d0d;

//     .counter {

//         h2{
//             color: white;
//         }

//         p{
//             color: $color-primary;
//         }
//     }
// }

// .header--desktop{
//     .navbar--top{
//         .list--menu{
//             a{
//                 color: $gray;
    
//                 &:hover{
//                     color: $color-primary;
//                 }
//             }
//         }
        
//     }
    
//     .navbar--bottom{
//         .list--menu{
//             .menu__item{
//                 color: $gray;

//                 &:hover{
//                     color: $color-primary;
//                 }

//                 &:after{
//                     background-color: $color-primary;
//                 }
//             }
//         }
//     }
// }

// .header--mobile{
//     .navbar--top{
//         .list--menu{
//             a{
//                 color: $gray;
    
//                 &:hover{
//                     color: $color-primary;
//                 }
//             }
//         }
        
//     }
// }

// .footer--wrapper{
//     .footer--nav{
//         .footer__link{
//             color: $darkgray;

//             &:hover{
//                 color: $color-primary;
//             }
//         }

//         .footer__group{
//             .footer__link{
//                 color: $gray;

//                 &:after{
//                     background-color: $color-primary;
//                 }

//                 &:hover{
//                     color: $color-primary;
//                 }
//             }
//         }
//     }
// }

// .home--slider{
//     .slider--banner{
//         //overwrite slick
//         .slick-dots{
//             li{

//                 button{
//                     background-color: $gray;

//                     &:before{
//                         display: none;
//                     }
//                 }

//                 &.slick-active{
//                     width: 30px;
//                     height: 15px;

//                     button{
//                         background-color: $color-primary;
//                     }
//                 }
//             }
//         }
//     }

//     .slider__title{
//         color: $color-primary;
//     }

//     .slider__text{
//         color: $gray;
//     } 
// }