.career--wrapper{
    .image-profile{
        //background-color: rgba(146, 144, 145, 0.1);
        //margin-bottom: 20px;
        width: max-content;
        position: relative;
        img{
            max-width: 100%;
            width: auto;
            height: 180px;
        }

        .icon-upload-image{
            position: absolute;
            top: 5px;
            right: 5px;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: rgba($color: $darkgray, $alpha: 0.7);

            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            i{
                font-size: 16px;
                color: $white;
            }
        }
    }



    .accordion--primary{
        
        .accordion--item{
            border: 1px solid $gray;
            padding: 10px 20px 0 20px;
            margin-bottom: 20px;
        }
        .accordion__title{
            background-color: #fff;
            border: none !important;
            padding: 0;
            margin-bottom: 10px;
            .more-less {
                right: 0;
            }

            &[aria-expanded='true']{
                color: $red !important;
                //border: 1px solid $red !important;
                background-color: $white !important;
                //border-bottom: 0 !important;
                //margin-bottom: 0;
                .more-less {
                    color: $red !important;
                }
            }
        }
        .accordion-collapse{
            .content--accordion{
                border-top: 1px solid $gray;
                padding-bottom: 50px;
                .head--content{
                    padding: 15px 0;
                    display: flex;
                    align-items: center;
                    .item{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .icon{
                            margin-right: 10px;
                            .f-icon{
                                font-size: 18px;
                                color: $darkgray;
                            }
                        }
                        .title{
                            font-size: 1.5rem;
                            line-height: 1.625rem;
                            color: $red;
                        }
                        .detail{
                            font-size: 1.5rem;
                            line-height: 1.625rem;
                            color: $gray;
                            padding-left: 5px;
                        }
                        &:after{
                            content: "|";
                            padding: 0 10px;
                            font-size: 36px;
                            line-height: 36px;
                            color: $gray;
                        }

                        &:last-of-type{
                            &:after{
                                display: none;
                            }
                        }
                    }
                }
                .download-file{
                    .title{
                        font-size: 1.5rem;
                        line-height: 1.625rem;
                        font-weight: bold;
                        color: $red;
                        margin-bottom: 0;
                    }
                    .list-file{
                        display: flex;
                        .item{
                            a{
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                text-decoration: none;
                                .icon{
                                    margin-right: 10px;
                                    .f-icon{
                                        font-size: 18px;
                                        color: $darkgray;
                                    }
                                }
                                .title{
                                    font-size: 1.5rem;
                                    line-height: 1.625rem;
                                    font-weight: normal;
                                    color: $red;
                                }
                                &:after{
                                    content: "|";
                                    padding: 0 10px;
                                    font-size: 36px;
                                    line-height: 36px;
                                    color: $gray;
                                }
                            }
                            &:last-of-type{
                                a{
                                    &:after{
                                        visibility: hidden;
                                    }
                                }
                            }
                        }
                    }
                    
                }

                .btn-group{
                    display: block;
                    text-align: center;
                    margin: 20px 0 0;
                }
            }
            @media only screen and (max-width: 992px) {
                .content--accordion{
                    .head--content{
                        flex-wrap: wrap;
                        flex-direction: column;
                        align-items: baseline;
                        .item{
                            margin-bottom: 10px;
                            &:after{
                                display: none;
                            }
                        }
                    }
                    .download-file{
                        .title{
                            margin-bottom: 10px;
                        }
                        .list-file{
                            flex-wrap: wrap;
                            flex-direction: column;
                            .item{
                                margin-bottom: 5px;
                                a{
                                    align-items: flex-start;
                                    &:after{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}


