.career--wrapper{
    .image-profile{
        //background-color: rgba(146, 144, 145, 0.1);
        //margin-bottom: 20px;
        width: max-content;
        position: relative;
        img{
            max-width: 100%;
            width: auto;
            height: 180px;
        }

        .icon-upload-image{
            position: absolute;
            top: 5px;
            right: 5px;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: rgba($color: $darkgray, $alpha: 0.7);

            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            i{
                font-size: 16px;
                color: $white;
            }
        }
    }
}


