.contact--wrapper{
    .block--group{
        margin-bottom: 2rem;
        .map, iframe {
            width: 100%;
            height: 550px;
        }
        .title{
            font-weight: bold;
            font-size: 1.625rem;
            line-height: 1.875rem;
        }

        .contact--block{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            margin-bottom: 15px;

            .content__icon{
                margin-top: 5px;
                font-size: 1.5rem;
                line-height: 1.875rem;
                color: $red;
            }
            

            span.content__text{
                padding: 0 10px 0 10px;
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 1.875rem;
                color: $darkgray;
            }

            a.content__text{
                padding: 0 10px 0 10px;
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 1.875rem;
                text-decoration: none;
                transition: all 0.4s ease-in-out;
                color: $darkgray;
                &:hover{
                    color: $red;
                }
            }
        }

        .social--block{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            margin: 0;

            span{
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 1.5rem;
            }

            a{
                display: flex;
                align-items: center;
                padding: 5px;
                margin: 0 5px;
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 1.875rem;
                text-decoration: none;
                transition: all .3s ease-in-out;
    
                &:hover{
                    transform: translateY(-3px)
                }
            }
        }
    }



    .list-address-contact{
        //background-color: $darkgray;
        // padding: 15px;
        // text-align: center;
        // height: 100%;
        display: flex;
        margin-bottom: 40px;
        .icon-list{
            //color: $white;
            margin-right: 10px;
            i{
                font-size: 24px;
                color: $red;
            }
            .f-icon{
                font-size: 20px;
            }
        }
        p{
            font-size: 1.5rem;
            line-height: 1.625rem;
            font-weight: bold;
            color: $darkgray;
            margin-bottom: 0;
            a{
                color: $darkgray;
                text-decoration: none;
            }
        }
    }
}