.event--wrapper{
    .hasDatepicker{
        margin-bottom: 30px;
        .ui-datepicker-inline{
            width: 100%;
        }
        .ui-widget.ui-widget-content{
            border: none;
        }

        .ui-datepicker{
            .ui-datepicker-header{
                border-radius: 0;
                background-color: $red;
                padding: 10px 0;
                .ui-corner-all{
                    display: none;
                }
                .ui-datepicker-title{
                    font-size: 1.5rem;
                    line-height: 1.625rem;
                    color: #fff;
                }
            }
        }

        .ui-datepicker-calendar{
            border-collapse: separate;
            table-layout: fixed;
            thead{
                tr{
                    th{
                        border-bottom: 1px solid $red;
                        span{
                            font-size: 1.5rem;
                            line-height: 1.625rem;
                            color: $darkgray;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        padding: 0;
                        .ui-state-default{
                            border: none;
                            background: rgba(146, 144, 145, 0.2);
                            color: $darkgray;
                            text-align: center;
                            padding: 15px 10px;
                            font-size: 1.5rem;
                            line-height: 1.625rem;
                            &.ui-state-active{
                                color: #fff;
                                border: none !important;
                            }
                        }
                        &.highlight{
                           .ui-state-default{
                               color: $red;
                               position: relative;
                               &:after{
                                    font-family: bootstrap-icons !important;
                                    font-style: normal;
                                    font-weight: normal !important;
                                    font-variant: normal;
                                    content: '\F287';
                                    font-size: 8px;
                                    color: $red;

                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 10px;
                               }
                           }
                           &.ui-datepicker-current-day{
                                .ui-state-active{
                                    color: $white !important;
                                    &:after{
                                        color: $white !important;
                                    }
                                }
                            }
                            &.ui-datepicker-today{
                                .ui-state-active{
                                    color: $white !important;
                                }
                                .ui-state-default{
                                    &:after{
                                        color: $white !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .activity--date{
        font-size: 1.5rem;
        line-height: 1.625rem;
        font-weight: bold;
        color: $darkgray;
        margin-bottom: 30px;
        .count{
            color: $red;
        }
    }
}

.activity--wrapper{
    margin-bottom: 3rem;


    .card--event{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 20px;
        .card__figure{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 260px;
            background-color: rgba(146, 145, 144, 0.1);
            img{
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                //height: 100%;
                // object-fit: cover;
                // object-position: top;
            }
        }
        .card__body{
            padding-top: 1rem;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 1rem;
            // border-left: 1px solid transparent;
            // border-right: 1px solid transparent;
            // border-bottom: 1px solid transparent;
    
            position: relative;
            transition: all 0.4s ease-in-out;
    
            border: 2px solid #fff;
            border-left: none;
            height: 100%;
            .card__date{
                font-size: 1.625rem;
                line-height: 1.875rem;
                font-weight: bold;
                color: $red;
                margin-bottom: 15px;
            }
            .card__name{
                font-size: 1.5rem;
                line-height: 1.625rem;
                font-weight: bold;
                color: $darkgray;
                margin-bottom: 15px;
            }
            .card__desc{
                font-size: 1.5rem;
                line-height: 1.625rem;
                font-weight: normal;
                color: $gray;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
            }
    
            &:hover{
                border: 2px solid $red;
                border-left: none;
                .card__name{
                    color: $red;
                }
            }
        }
        @media only screen and (max-width: 1399px) {
            .card__body{
                .card__desc{
                    -webkit-line-clamp: 4;
                }
            }
        }
        @include media-breakpoint-down(md) {
            .card__figure{
                height: auto;
            }
            .card__body{
                border: none;
                .card__desc{
                    -webkit-line-clamp: unset;
                }
            }
        }
    }
}