.news--wrapper{
    .head--content{
        margin-bottom: 30px;
        .text{
            font-size: 1.5rem;
            line-height: 1.5rem;
            font-weight: bold;
            color: $darkgray;
        }
    }

    .body--content{
        .content__gallery{
            width: 550px;
            float: left;
            margin-bottom: 20px;
            margin-right: 20px;
            .gallery__for{
                margin-bottom: 15px;
                .item{
                    img{
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }
            .gallery__nav{
                padding-right: 60px;
                .item{
                    width: 150px;
                    height: 150px;
                    margin-right: 20px;
                    img{
                        width: 100%;
                        max-width: 100%;
                    }
                }

                .slick-prev{
                    width: 45px;
                    height: 45px;
                    left: auto;
                    right: 0;
                    top: auto;
                    bottom: 0;
            
                    &:before{
                        font-family: 'icomoon' !important;
                        content: "\e902";
                        color: $gray;
                    }
            
                    &:hover{
                        &:before{
                            color: $red;
                        }
                    }
                }
            
                .slick-next{
                    width: 45px;
                    height: 45px;
                    right: 0;
                    top: 45px;
            
                    &:before{
                        font-family: 'icomoon' !important;
                        content: "\e903";
                        color: $gray;
                    }
            
                    &:hover{
                        &:before{
                            color: $red;
                        }
                    }
                }
        
                .slick-arrow{
                    z-index: 9;
                }
            }
        }
        .content__text{
            font-size: 1.5rem;
            line-height: 1.5rem;
            font-weight: bold;

            iframe{
                width: 100%;
            }
        }
        &:after{
            content: '';
            display: block;
            clear: both;
        }
    }
}