.procurement--wrapper{
    .procurement--order{
        position: relative;
        min-width: 200px;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: $darkgray;
    }

    .procurement--name{
        position: relative;
        display: block;
        min-width: 500px;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: $darkgray;
        text-decoration: none;

        &__short{
            position: relative;
            display: block;
            min-width: 300px;
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: $darkgray;
            text-decoration: none;

            &:is(a){
                transition: all 0.4s ease-in-out;
                &:hover{
                    color: $red;
                }
            }
        }
        
        &:is(a){
            transition: all 0.4s ease-in-out;
            &:hover{
                color: $red;
            }
        }
    }

    .procurement--date{
        position: relative;
        min-width: 125px;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: $darkgray;

        &__full{
            position: relative;
            min-width: 250px;
            font-size: 1.5rem;
            line-height: 1.5rem;
            color: $darkgray;
        }
    }

    .procurement--budget{
        position: relative;
        min-width: 250px;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: $darkgray;
    }

    .procurement--company{
        position: relative;
        min-width: 250px;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: $darkgray;
    }

    .procurement--view{
        position: relative;
        width: 100px;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: $darkgray;
    }

    .table--primary{
        > table{
            > tbody{
                > tr{
                    &:nth-child(even){
                        > td{
                            background-color: rgba($color: $gray, $alpha: 0.1);
                        }
                    }
                }
            }
        }
    }

    .remark--procurement{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .remark{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            margin-bottom: 0.5rem;

            font-weight: bold;
            font-size: 1.25rem;
            line-height: 1.625rem;
            color: $darkgray;

            span{
                color: $red;
            }

            i{
                margin: 0 0.5rem;
                font-size: 0.5rem;
            }
        }
    }

    .list--primary{
        min-width: 250px;
        padding: 0;
        margin: 0;
    }
}